@model Jisa_Assignment.Models.Test

@{
    ViewData["Title"] = "Login";
}

<h2>User Information Form</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PhoneNumber)
        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
    </div>

    <button type="button" class="btn btn-primary" onclick="confirmSubmit()">Submit</button>
}

<script>
    function confirmSubmit() {
        var isConfirmed = confirm("Are you sure you want to submit?");
        if (isConfirmed) {
            $("form").submit(); 
        }
    }
</script>

